<h1>Edit Brand</h1>
<%= render "spree/shared/error_messages", :target => @brand %>

<%= form_for [:admin, @brand], :html => { :multipart => true } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>
